.myNavLink .nav-link.active,
.myNavLink .show > .nav-link {
    background-color: white !important;
    color: black !important;
}

.myNavLink .nav-item > a,
.myNavLink .nav-item > a:hover,
.myNavLink .nav-item > a:active,
.myNavLink .nav-item > a:focus{
    background-color: white;
    color: black;
}

.myNavLink .flex-column{
    background-color: white;
    color: black;
}